@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing:border-box ;
    margin: 0;
    padding: 0;
}


body{
    font-family: "Inter", sans-serif;
}

.banner-section-container{
max-width: 1920px;
height: 650px;
border: 2px solid red;
background-color: rgba(229, 84, 115, 0.1);
align-items: center;

}
.banner-text-container{
    width: 50%;
    border: 2px solid green;
    height: 650px;
}
.banner-image-container {
    width: 50%;
    border: 2px solid blue;
    height: 650px;
}